.Rproj.user
.Rhistory
.RData
.Ruserdata

# Exclude R package check files and tar.gz files
*.Rcheck/
*.tar.gz

# Exclude large simulation folders
Simulation_Studies/Simulation_Data/
Simulation_Studies/Simulation_Results/
